In [1]:
import pandas as pd

In [2]:
# Read in the data
pd.options.display.max_colwidth = 200
orders_df = pd.read_csv("Resources/online_orders.csv")
orders_df

                                                                 orderId,productName,category,sellingPrice,shipping,totalPrice
0                               tb701343926,Exploding Kittens - A Russian Roulette Card Game,Toys & Games,19.99,standard,22.98
1                           jk664905092,Richard Scarry's Cars and Trucks and Things That Go,Children's Books,11.00,2-day,15.99
2  lm255269538,Kootek Camping Hammock Double & Single Portable Hammocks with 2 Tree Straps,Sports & Outdoors,26.99,Prime,26.99
3             cr180186416,Swing Set Stuff Climbing Rope with Steps (Blue) & SSS Logo Sticker,Toys & Games,15.99,standard,18.98
4                                        ef049909573,World of Nintendo Mario Bros U Boo Plush,Video Games,11.99,standard,14.98

In [10]:
# Create a list for the column names.
columns = orders_df.columns.to_list()
columns

['orderId,productName,category,sellingPrice,shipping,totalPrice']

In [11]:
# Split the column on the comma and place in a list.
for column in columns:
    column_names = column.split(",")
print(column_names)

['orderId', 'productName', 'category', 'sellingPrice', 'shipping', 'totalPrice']

In [14]:
# Create a new DataFrame and split the data from one column on the comma into six columns.
online_orders_df = pd.DataFrame()
online_orders_df[['orderId', 'productName', 'category', 'sellingPrice', 'shipping', 'totalPrice']] = orders_df['orderId,productName,category,sellingPrice,shipping,totalPrice'].str.split(',', n=6, expand=True)
online_orders_df

,orderId,productName,category,sellingPrice,shipping,totalPrice
0,tb701343926,Exploding Kittens - A Russian Roulette Card Game,Toys & Games,19.99,standard,22.98
1,jk664905092,Richard Scarry's Cars and Trucks and Things That Go,Children's Books,11.00,2-day,15.99
2,lm255269538,Kootek Camping Hammock Double & Single Portable Hammocks with 2 Tree Straps,Sports & Outdoors,26.99,Prime,26.99
3,cr180186416,Swing Set Stuff Climbing Rope with Steps (Blue) & SSS Logo Sticker,Toys & Games,15.99,standard,18.98
4,ef049909573,World of Nintendo Mario Bros U Boo Plush,Video Games,11.99,standard,14.98

In [15]:
# Convert sellingPrice and totalPrice to a float datatype.
online_orders_df[['sellingPrice','totalPrice']] = online_orders_df[['sellingPrice','totalPrice']].astype('float')
online_orders_df

,orderId,productName,category,sellingPrice,shipping,totalPrice
0,tb701343926,Exploding Kittens - A Russian Roulette Card Game,Toys & Games,19.99,standard,22.98
1,jk664905092,Richard Scarry's Cars and Trucks and Things That Go,Children's Books,11.00,2-day,15.99
2,lm255269538,Kootek Camping Hammock Double & Single Portable Hammocks with 2 Tree Straps,Sports & Outdoors,26.99,Prime,26.99
3,cr180186416,Swing Set Stuff Climbing Rope with Steps (Blue) & SSS Logo Sticker,Toys & Games,15.99,standard,18.98
4,ef049909573,World of Nintendo Mario Bros U Boo Plush,Video Games,11.99,standard,14.98

In [16]:
# Check the data types.
online_orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   orderId       5 non-null      object
 1   productName   5 non-null      object
 2   category      5 non-null      object
 3   sellingPrice  5 non-null      float64
 4   shipping      5 non-null      object
 5   totalPrice    5 non-null      float64
dtypes: float64(2), object(4)
memory usage: 368.0+ bytes

In [17]:
# Calculate the shipping price of each product and add it to a new column.
online_orders_df['shippingPrice'] = online_orders_df['totalPrice'] - online_orders_df['sellingPrice']
online_orders_df

,orderId,productName,category,sellingPrice,shipping,totalPrice,shippingPrice
0,tb701343926,Exploding Kittens - A Russian Roulette Card Game,Toys & Games,19.99,standard,22.98,2.99
1,jk664905092,Richard Scarry's Cars and Trucks and Things That Go,Children's Books,11.00,2-day,15.99,4.99
2,lm255269538,Kootek Camping Hammock Double & Single Portable Hammocks with 2 Tree Straps,Sports & Outdoors,26.99,Prime,26.99,0.00
3,cr180186416,Swing Set Stuff Climbing Rope with Steps (Blue) & SSS Logo Sticker,Toys & Games,15.99,standard,18.98,2.99
4,ef049909573,World of Nintendo Mario Bros U Boo Plush,Video Games,11.99,standard,14.98,2.99

In [18]:
# Reorder the columns ['orderId', 'productName', 'category', 'sellingPrice','shippingPrice', 'totalPrice', 'shipping']
online_orders_df = online_orders_df[['orderId', 'productName', 'category', 'sellingPrice','shippingPrice', 'totalPrice', 'shipping']]
online_orders_df

,orderId,productName,category,sellingPrice,shippingPrice,totalPrice,shipping
0,tb701343926,Exploding Kittens - A Russian Roulette Card Game,Toys & Games,19.99,2.99,22.98,standard
1,jk664905092,Richard Scarry's Cars and Trucks and Things That Go,Children's Books,11.00,4.99,15.99,2-day
2,lm255269538,Kootek Camping Hammock Double & Single Portable Hammocks with 2 Tree Straps,Sports & Outdoors,26.99,0.00,26.99,Prime
3,cr180186416,Swing Set Stuff Climbing Rope with Steps (Blue) & SSS Logo Sticker,Toys & Games,15.99,2.99,18.98,standard
4,ef049909573,World of Nintendo Mario Bros U Boo Plush,Video Games,11.99,2.99,14.98,standard

In [1]:
#practice code